@model HostelManagement.Areas.HostelMessManagement.Models.StudentSearchViewModel
@{
    ViewBag.Title = "ChangeRoom";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center">Change Room</h2>
    </div>
</div>
<hr />


<div class="row">
    <div class="col-md-8 col-md-offset-3">
        @using (Ajax.BeginForm("ChangeRoom", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "changeStudentRoomId", InsertionMode = InsertionMode.Replace }, new { @class = "form-inline" }))
        {
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.bid)
                    @Html.TextBoxFor(m => m.bid, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-2 pull-left">
                    <input type="submit" class="btn btn-primary form-control" value="View" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="changeStudentRoomId">
            Please enter the BID above.
        </div>
    </div>
</div>
