
@{
    ViewBag.Title = "RemoveUser";
}

<h2>RemoveUser</h2>

@using (Ajax.BeginForm("RemoveUser", null, new AjaxOptions{ HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "updateDivID"}, new { @class = "form-horizontal"}))
{
    <div class="form-group">
        <label>UserName</label>
        <input name="username" type="text" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" />
}

<div id="updateDivID">

</div>